/* header */

header{
    background-color: cyan;
    background-repeat: repeat-x;
}

.immagine{
    background-image: url("img/pattern.png");
    height: fit-content;
}

/* tabella */

thead{
    background-color: cyan;
    color: white;
}

/* colori */

.gray{
    color: gray;
}

.light-blue{
    color: lightblue;
}

.marked-yellow{
    background-color: yellow;
}

.back-light-blue{
    background-color: lightblue;
}