/* header */

header{
    background-color: cyan;
    background-repeat: repeat-x;
}

.immagine{
    background-image: url("img/pattern.png");
    height: fit-content;
}

/* tabella */

thead{
    background-color: cyan;
}

/* footer */

.img-foot1{
    background-image: url("img/monitor.jpg");
    height: 200px;
    width: 300px;
}

.img-foot2{
    background-image: url("graph.jpg");
    height: 200px;
    width: 300px;
}

/* colori */

.gray{
    color: gray;
}

.light-blue{
    color: lightblue;
}

.marked-yellow{
    background-color: yellow;
}

.back-light-blue{
    background-color: lightblue;
}
.white{
    color: white;
}