/* header */
header{
    background-color: cyan;
    background-repeat: repeat-x;
}

.immagine{
    background-image: url("img/pattern.png");
    height: fit-content;
}


/* colori */

.gray{
    color: gray;
}

.light-blue{
    color: lightblue;
}

.marked-yellow{
    background-color: yellow;
}